#projects {
    padding: 20px;
}

.project {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.project h3 {
    margin: 0 0 10px 0;
}

.project p {
    margin: 0 0 10px 0;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
