/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #c9d1d9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #0d1117;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: #58a6ff;
    background-color: #21262d;
}

nav a:hover {
    background-color: #58a6ff;
    color: #0d1117;
}

/* Section Styles */
.section {
    padding: 40px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #58a6ff;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#skills ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

/* Project Styles */
.project {
    background-color: #21262d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.project h3 {
    color: #58a6ff;
    font-size: 1.5em;
}

.project p {
    margin: 10px 0;
}

.project a {
    color: #58a6ff;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #0d1117;
    padding: 20px;
    text-align: center;
    color: #c9d1d9;
    border-top: 1px solid #30363d;
}
